<div class="function-container" #parent>
    <select class="function-dropdown">
        <option *ngFor="let functionName of functionNames" value="functionName" class="function-dropdown-item">{{functionName}}</option>
    </select>
    <app-expression-container [tree]="parameter.type"></app-expression-container>
</div>