.function-container {
    display: inline-block;
    padding: 10px;
    background: lightcyan;
    border: 1px solid blue;
    border-radius: 5px;
}

.function-dropdown {
    display: inline-block;
    height: 30px;
    border-radius: 5px;
    background: white;
    padding: 0px 5px;
}
