<div class="binary-expression-container">
    <app-expression-container [tree]="left?.type"></app-expression-container>
    <app-operator [operator]="operatorValue"></app-operator>
    <app-expression-container [tree]="right?.type"></app-expression-container>
</div>