<div class="expression-container" [ngSwitch]="componentType">
    <app-binary-expression *ngSwitchCase="BinaryExpressionComponent" [left]="tree.left" [right]="tree.right" [operator]="tree.type"></app-binary-expression>
    <app-unary-expression *ngSwitchCase="UnaryExpressionComponent" [right]="tree.expression"></app-unary-expression>
    <app-function *ngSwitchCase="FunctionComponent" [name]="tree.name" [parameter]="tree.arguments[0]"></app-function>
    <app-variable *ngSwitchCase="VariableComponent" [name]="tree.name" [dataType]="NUMBER"></app-variable>
    <app-value *ngSwitchCase="ValueComponent" [value]="tree.value"></app-value>
</div>