.value-container {
    height: 30px;
    background-color: lightgreen;
    outline: none;
    display: inline-block;
    padding: 0px 8px;
    border-radius: 5px;
    color: red;
}

.value-field {
    margin-top: 5px;
}

