.unary-expression-container {
    display: inline-block;
    padding: 10px;
    background: #f3e9fc;
    border: 1px solid violet;
    border-radius: 5px;
}

.unary-operator {
    display: inline-block;
    font-weight: bold;
}