.variable-container {
    display: inline-block;
    padding: 10px;
    background: lightyellow;
    border: 1px solid red;
    border-radius: 5px;
}

.value-container {
    display: inline-block;
}

.variable-dropdown {
    display: inline-block;
    height: 30px;
    border-radius: 5px;
    background: white;
}

.variable-name {
    display: flex;
    float: left;
    background: lightskyblue;
    margin-right: 10px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 8px;
    align-items: center;
}
