<div class="variable-container">
   <div class="variable-name">
       {{name}}
    </div>
   <app-value></app-value>
   <select class="variable-dropdown">
       <option *ngFor="let dataType of dataTypes" value="dataType">{{dataType}}</option>
   </select>
</div>